<template>
    <div>
        <div>Диалого выбора элементов <a href="#" @click.prevent="cancel">X</a></div>
        <div>
            <div>Поиск <input type="text" v-model="search" /></div>
            <div>Фильтр
                <select v-model="filter">
                    <option :value="0">Без фильтра</option>
                    <option :value="10">Номер > 10</option>
                    <option :value="100">Номер > 100</option>
                    <option :value="200">Номер > 200</option>
                </select>
            </div>
        </div>
        <ul class="list">
            <li v-for="element in filteredElements">
                <input type="checkbox" :id="element" :disabled="isCheckboxDisabled(element)" :value="element" v-model="editedElements"><label :for="element">{{ element }}</label>
            </li>
        </ul>
        <div>
            <div>Выбранные элементы в данный момент:</div>
            <div v-for="element in editedElements">{{element}} | <a href="#" @click.prevent="removeElement(element)">X</a></div>
        </div>
        <div>
            <button @click.prevent="save">Сохранить</button><button @click.prevent="cancel">Отмена</button>
        </div>
    </div>
</template>
<style>
    .list {
        max-height: 300px;
        overflow-x: scroll;
    }
</style>
<script>
	export default {
		props: {
			elements: Array,
			selectedElements: Array
		},
        data() {
			return {
				editedElements: [],
                search: "",
                filter: 0
            }
        },
		created() {
			this.editedElements = [...this.selectedElements];
		},
        computed: {
			filteredElements() {
				let data = this.elements.slice(this.filter);

				if (this.search) {
					data = data.filter((el) => el.includes(this.search))
                }

				return data;
            }
        },
        methods: {
			isCheckboxDisabled(element) {
				return (this.editedElements.length >= 3) && (this.editedElements.indexOf(element) === -1)
			},
			removeElement(element) {
				const index = this.editedElements.indexOf(element);
				this.editedElements.splice(index, 1)
			},
			save() {
				this.$emit("save", this.editedElements);
			},
			cancel() {
				this.$emit("cancel");
			}
        }
	}
</script>
