<template>
    <div>
        <h2>Выбор элементов</h2>
        <p>На данный момент у ва выбрано {{selectedElements.length}} элементов</p>
        <div v-for="element in selectedElements">{{element}} | <a href="#" @click.prevent="removeElement(element)">X</a></div>
        <button @click="editSelectedElements">Изменить мой выбор</button>
        <EditSelectedElementsWidget v-if="editMode" v-bind="$props" :selectedElements="selectedElements" @save="onSave" @cancel="onCancel" />
  </div>
</template>

<script>
import EditSelectedElementsWidget from '@/components/EditSelectedElementsWidget';

export default {
    props: {
    	elements: Array
    },
    components: {
		EditSelectedElementsWidget
    },
	data() {
		return {
			selectedElements: ['Element 1','Element 115'],
            editMode: false
		}
	},
    computed: {
		isMaxElementsSelected() {
			return this.selectedElements >= 3;
		}
    },
    methods: {
		removeElement(element) {
			const index = this.selectedElements.indexOf(element);
			this.selectedElements.splice(index, 1)
		},
		editSelectedElements() {
			this.editMode = true;
        },
        onSave(elements) {
			this.selectedElements = elements;
			this.editMode = false;
        },
        onCancel() {
			this.editMode = false;
        }
    }
}
</script>
