<template>
  <div id="app">
      <SelectElementsWidget :elements="getElements()" />
  </div>
</template>

<script>
import SelectElementsWidget from "@/components/SelectElementsWidget";

export default {
    name: 'app',
    components: {
		SelectElementsWidget
    },
    methods: {
    	getElements() {
    		return Array.from({length: 300}, (_, i) => `Element ${i + 1}`)
        }
    }
}
</script>
